html, body {
  font-size: 16px;
}

body {
  display: flex;
  align-content: center;
  font-family: 'Work Sans', sans-serif;
  background: url(assets/images/background-pattern-desktop.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  justify-content: center;
  color: hsl(275, 100%, 97%);
  background-color: hsl(275, 100%, 97%);
  margin: 0; 
}

.main-content {
  width: 35%;
  
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 2.5rem;
  margin: 5% auto;
}

.header {
  display: flex;
}

.question {
  display: flex;
  justify-content: space-between;
}

p {
  color: hsl(292, 16%, 49%);
  font-weight: lighter;
}

h1 {
  font-size: 4rem;
  margin-left: 1rem;
  color: hsl(292, 42%, 14%);
}

h3 {
  color: hsl(292, 42%, 14%);
}

@media (min-width: 376px) and (max-width: 600px) {
  body {
    /* background-size: 220%; */
    margin: 0px;
    padding: 20px;
    font-size: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .main-content {
    width: 90%;
    font-size: 10px;
   
  }
}

@media (max-width: 375px) {
  body {
    /* background-size: 220%; */
    margin: 50px 20px;
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .main-content {
    width: 90%;
    font-size: 10px;
   
  }
}


